// .content {
//   padding-top: 0.7rem;
//   background-color: black;

//   .buttonBear {
//     height: 55px;
//     width: 45px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     border-radius: 25%;
//     border: solid 2px var(--cyan-500);
//     background-color: transparent;

//     position: relative;
//     left: 1rem;
//     top: 1rem;

//     transition: background-color 0.5s;

//     &:focus {
//       border: solid 2px var(--blue-600);
//       background-color: var(--green-100);
//     }
//     &:hover {
//       background-color: var(--green-100);
//     }
//   }
//   h1 {
//     text-align: center;
//   }
//   //   @media (max-width: 1080px) {
//   //     .info {
//   //       position: relative;
//   //       top: 1000px;
//   //     }
//   //   }
//   //   @media (max-width: 1024px) {
//   //     .container {
//   //       width: 58.375rem;
//   //       height: 78rem;
//   //       background-size: 58.375rem 78rem;
//   //     }
//   //     .info {
//   //       font-size: 1.3rem;

//   //       position: relative;
//   //       top: 1000px;

//   //       & > span {
//   //         font-size: 2.5rem;
//   //       }
//   //     }
//   //   }
//   //   @media (max-width: 900px) {
//   //     .container {
//   //       width: 56.375rem;
//   //       height: 78rem;
//   //       background-size: 56.375rem 78rem;
//   //     }
//   //     .buttonBear {
//   //       left: -160px;
//   //       margin-left: 1rem;
//   //     }
//   //   }
//   //   @media (max-width: 768px) {
//   //     .container {
//   //       width: 53.375rem;
//   //       height: 78rem;
//   //       background-size: 53.375rem 78rem;
//   //     }
//   //     .buttonBear {
//   //       height: 50px;
//   //       width: 40px;
//   //       left: -100px;
//   //       img {
//   //         height: 50px;
//   //         width: 40px;
//   //       }
//   //     }
//   //   }

//   //   @media (max-width: 650px) {
//   //     & {
//   //       height: 69rem;
//   //     }
//   //     .container {
//   //       width: 50.375rem;
//   //       height: 68rem;
//   //       background-size: 50.375rem 68rem;
//   //       #buttomNextPage {
//   //         height: 2.2rem;
//   //         width: 15.2rem;
//   //         position: absolute;
//   //         top: 31rem;
//   //         padding: 0;

//   //         img {
//   //           height: 2rem;
//   //           width: 15rem;
//   //         }
//   //       }
//   //     }
//   //     .gridNumbers {
//   //       height: 18rem;
//   //       width: 30.5rem;
//   //       top: 36.188rem;
//   //       button {
//   //         height: 2rem;
//   //         width: 2.8rem;
//   //         font-size: 1.2rem;
//   //         font-weight: 600;
//   //       }
//   //     }

//   //     .buttonBear {
//   //       height: 45px;
//   //       width: 35px;
//   //       left: -70px;
//   //       img {
//   //         height: 45px;
//   //         width: 45px;
//   //       }
//   //     }

//   //     .info {
//   //       font-size: 1rem;
//   //       margin-left: -50px;

//   //       position: relative;
//   //       top: 850px;

//   //       & > span {
//   //         font-size: 2rem;
//   //       }
//   //     }
//   //   }

//   //   @media (max-width: 500px) {
//   //     & {
//   //       height: 60rem;
//   //     }
//   //     .container {
//   //       width: 40.375rem;
//   //       height: 60rem;
//   //       background-size: 40.375rem 60rem;
//   //       #buttomNextPage {
//   //         height: 1.8rem;
//   //         width: 12.5rem;
//   //         position: absolute;
//   //         top: 27rem;
//   //         padding: 0;

//   //         img {
//   //           height: 1.5rem;
//   //           width: 12rem;
//   //         }
//   //       }
//   //     }
//   //     .gridNumbers {
//   //       height: 14rem;
//   //       width: 25rem;
//   //       top: 31.188rem;
//   //       button {
//   //         height: 1.5rem;
//   //         width: 2.3rem;
//   //         font-size: 1rem;
//   //         font-weight: 500;
//   //       }
//   //     }

//   //     .buttonBear {
//   //       height: 40px;
//   //       width: 30px;
//   //       left: -25px;
//   //       img {
//   //         height: 40px;
//   //         width: 30px;
//   //       }
//   //     }

//   //     .info {
//   //       font-size: 1rem;
//   //       margin-left: -20px;

//   //       position: relative;
//   //       top: 700px;

//   //       & > span {
//   //         font-size: 1.8rem;
//   //       }
//   //     }
//   //   }
//   //   @media (max-width: 400px) {
//   //     & {
//   //       height: 50rem;
//   //     }
//   //     .container {
//   //       width: 35.375rem;
//   //       height: 50rem;
//   //       background-size: 35.375rem 50rem;
//   //       #buttomNextPage {
//   //         height: 1.6rem;
//   //         width: 11.5rem;
//   //         position: absolute;
//   //         top: 22.5rem;
//   //         padding: 0;
//   //         line-height: 1rem;

//   //         img {
//   //           height: 1.4rem;
//   //           width: 11rem;
//   //         }
//   //       }
//   //     }
//   //     .gridNumbers {
//   //       height: 10rem;
//   //       width: 20rem;
//   //       top: 27rem;
//   //       button {
//   //         padding: 0;
//   //         height: 1.1rem;
//   //         width: 1.9rem;
//   //         font-size: 0.8rem;
//   //         font-weight: 500;
//   //       }
//   //     }

//   //     .buttonBear {
//   //       height: 35px;
//   //       width: 25px;
//   //       left: -25px;
//   //       img {
//   //         height: 35px;
//   //         width: 25px;
//   //       }
//   //     }

//   //     .info {
//   //       font-size: 0.8rem;
//   //       margin-left: -20px;

//   //       position: relative;
//   //       top: 590px;

//   //       & > span {
//   //         font-size: 1.5rem;
//   //       }
//   //     }
//   //   }
//   //   @media (max-width: 320px) {
//   //     & {
//   //       height: 50rem;
//   //     }
//   //     .container {
//   //       width: 31.375rem;
//   //       height: 50rem;
//   //       background-size: 31.375rem 50rem;
//   //       #buttomNextPage {
//   //         height: 1.4rem;
//   //         width: 10.5rem;
//   //         position: absolute;
//   //         top: 22.5rem;
//   //         padding: 0;
//   //         line-height: 0.5rem;

//   //         img {
//   //           height: 1.2rem;
//   //           width: 10rem;
//   //         }
//   //       }
//   //     }
//   //     .gridNumbers {
//   //       height: 9rem;
//   //       width: 18rem;
//   //       top: 28.5rem;
//   //       button {
//   //         padding: 0;
//   //         height: 1rem;
//   //         width: 1.7rem;
//   //         font-size: 0.7rem;
//   //         font-weight: 500;
//   //       }
//   //     }

//   //     .buttonBear {
//   //       height: 30px;
//   //       width: 20px;
//   //       left: -18px;
//   //       img {
//   //         height: 30px;
//   //         width: 20px;
//   //       }
//   //     }

//   //     .info {
//   //       font-size: 0.8rem;
//   //       margin-left: -20px;

//   //       position: relative;
//   //       top: 590px;

//   //       & > span {
//   //         font-size: 1.5rem;
//   //       }
//   //     }
//   //   }
// }
.content {
  padding-top: 0.7rem;
  background-color: black;
  .buttonBear {
    height: 55px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    border: solid 2px var(--cyan-500);
    background-color: transparent;

    position: relative;
    left: 1rem;
    top: 1rem;

    transition: background-color 0.5s;

    &:focus {
      border: solid 2px var(--blue-600);
      background-color: var(--green-100);
    }
    &:hover {
      background-color: var(--green-100);
    }
  }
  h1 {
    text-align: center;
    margin: 0.75rem 0;
  }
  h2 {
    text-align: center;
    margin-bottom: 2.2rem;
  }
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;

  border-radius: 40px;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 0 0.5rem;

  .isActive {
    background: var(--green-100);
  }
  #buttomNextPage {
    background: var(--white);
    border-radius: 25px;
    height: 2.5rem;
    width: 18.75rem;
    position: absolute;
    top: 35.625rem;
    padding-left: 12px;
    padding-top: 2px;

    transition: background-color 0.2s;

    &:hover {
      background-color: var(--green-100);
    }
  }
}

.gridNumbers {
  display: grid;
  width: 41.5rem;
  grid-template-columns: repeat(auto-fill, minmax(min(4rem, 100%), 10%));
  grid-template-rows: repeat(8, 0.2fr);
  padding: 0.5rem;
  row-gap: 0.25rem;
  margin-bottom: 1rem;
  background: var(--white);

  button {
    justify-self: center;
    height: 2.8rem;
    width: 3.9rem;
    background: var(--blue-600);
    color: var(--white);
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.info {
  display: grid;
  height: 7rem;
  width: auto;
  color: var(--brown-200);
  font-size: 1.5rem;
  font-weight: 600;

  position: relative;
  top: 1055px;

  p {
    display: grid;
    & > span {
      display: block;
    }
    justify-content: center;
    font-family: "Poppins", sans-serif;
  }

  & > span {
    margin-top: 1rem;
    font-size: 3rem;
    font-family: "Lobster", sans-serif;
  }
}
