.content{
    display: flex;
    justify-content: center;
    height: 81rem;
    padding-top: 0.7rem;
  
}
.container{
    .isActive{
        background: var(--green-100);
    }

    display: flex;
    justify-content: center;
    width: 62.375rem;
    height: 80rem;

    background-size: 62.375rem 80rem;
    background-image: url('/images/teste.png');
    border: 5px solid var(--blue-600);

    border-radius: 40px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    border-radius: 40px;

    #buttomNextPage{
        background: var(--white);
        border-radius: 25px;
        height: 2.5rem;
        width: 18.75rem;
        position: absolute;
        top: 35.625rem;
        padding-left: 12px;
        padding-top: 2px;
        
        transition: background-color 0.2s;

        &:hover{
            background-color: var(--green-100);
        }
    }
}

.gridNumbers{
    height: 24rem;
    width:41.5rem;
    display: grid;
    grid-template-columns: repeat(10, 0.2fr);
    grid-template-rows: repeat(8, 0.2fr);
    padding-top: 0.2rem;
    
    background: var(--white);    
    position: absolute;
    top: 42.188rem;

    button{
        justify-self: center;
        height: 2.8rem;
        width: 3.9rem;
        background: var(--blue-600);
        color: var(--white);
        font-weight: 700;
        font-size: 1.5rem;
    }
}

.info{
    display: grid;
    height: 7rem;
    width: auto;
    color: var(--brown-200);
    font-size: 1.5rem;
    font-weight: 600;
    
    position: relative;
    top:1055px;
    
    p{
        display: grid;
        & > span {display: block;}
        justify-content:center ;
        font-family: 'Poppins', sans-serif;

    }

    & > span{
        margin-top: 1rem;
        font-size: 3rem;
        font-family: 'Lobster', sans-serif;

    }
}
